<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
  </head>
  <body>
    <div class="row">
      <div class="column left">
        <div class="branding">
          <h1>Anon Chat v1.0</h1>
        </div>
        <div id="Group" class="chat_user con-users" onclick="selectUser(this.id)"">
          <div class="msg_status" style="display: none"></div>
          <h4>Connected Users</h4>
        </div>

        <!-- <hr /> -->
        <div id="users">
          <!-- Users added here -->
          <!-- <div class="chat_user" id="test" onclick="selectUser(this.id)">
            <div class="msg_status" style="display: block">2</div>
            <h5>Test User</h5>
           
          </div> -->
        </div>
      </div>
      <div class="column right">
        <div class="messages_header">
        
          <h1 id="msg_heading">Group Chat</h1>
          <div class="icons">
            <i class="fa fa-picture-o header_icon" aria-hidden="true"></i>
            <i class="fa fa-phone header_icon" aria-hidden="true"></i>
            <i class="fa fa-video-camera header_icon" id="video_call" aria-hidden="true"></i>
          </div>
        
          
        </div>

       


        <div id="message_display">
        <div id="Group_messages" class="messages"></div>
      </div>

      
      </div>
    </div>
    <!-- <div id="attach" style="display: none">
      <form
        id="upload"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="image" />
        <input type="submit" name="submit" value="Upload" />
      </form>
    </div> -->
    

    <form id="form" action="">
      <div id="message_input">
        <!-- <i id="attach_btn" class="fa fa-paperclip icon"></i> -->
        <input id="input" autocomplete="on" />
      </div>
      <button>Send</button>
    </form>

    <div class="video_main" id="video_main" style="display: none;">
    <div class="videos_group" id="videos_group" >
      <div id="video_grid">
        <!-- <div class="card">ONE</div>
        <div class="card">TWO</div>
        <div class="card">THREE</div>
        <div class="card">FOUR</div>
        <div class="card">FIVE</div>
        <div class="card">SIX</div> -->

      </div>
    </div>
    <div class="options">
      <div class="options__main">
      <div class="options__left">
        <div id="muteButton" class="options__button">
          <i class="fa fa-microphone"></i>
        </div>
        <div id="videoBtn" class="options__button">
          <i class="fa fa-video-camera"></i>
        </div>
        <div id="expandViewBtn" class="options__button">
          <i class="fa fa-expand" aria-hidden="true"></i>
        </div>
        
        <div id="screenShareBtn" class="options__button" onclick="shareScreen();" disabled>
          <i class="fa fa-television"></i>
        </div>

        
        
      </div>
      <div class="options__right">
        <div id="inviteBtn" class="options__button" onclick="shareScreen();" disabled>
          <i class="fa fa-plus"></i>
        </div>
      </div>
      
    </div>
    <div class="options__end">
      <div id="endCallBtn" class="options__red">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
    </div>
    </div>
  </div>
    <span id='userId' hidden>
      <%= JSON.stringify(data.userId); %>
  </span>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>
    <script src="/public/chat.js"></script>
  </body>
</html>
