* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#login_screen {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  z-index: 100;
  background-image: linear-gradient(to bottom right, #9c6aee, #0d36a9);
  text-align: center;
}

.login {
  width: 520px;
  height: 350px;
  top: 50%;
  left: 50%;
  margin: -175px -260px;
  padding: 25px;
  position: absolute;
  background-color: #00000025;
  z-index: 101;
  text-align: center;
}

.login>h1 {
  font-size: 32px;
  font-weight: 200;
  color: #e6d7fa;
  margin-top: 15px;
  text-align: center;
}

.login>p {
  font-size: 18px;
  font-weight: 200;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
}

.form-center {
  text-align: center;
  margin: 45px 50px;
}

#form i {
  position: absolute;
}

.icon {
  padding: 12px;
  width: 50px;
  font-size: 30px;
  right: 100px;
  color: #a4a4a4;
}

#chat-login {
  padding: 0.25rem;
  text-align: center;
}

#username {
  text-align: left;
  width: 100%;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.25em;
  font-size: 18px;
  background-color: #00000025;
  color: #f1ecf7;
  border-top: 1px solid #00000050;
  border-right: 1.5px solid #00000050;
  border-bottom: 1px solid #ffffff20;
  border-left: 1.5px solid #ffffff20;
}

#username:focus {
  outline: none;
}

#username::placeholder {
  color: #ffffff60;
}

#chat-login>button {
  display: block;
  margin-top: 25px;
  text-align: center;
  background: #824efa;
  border: none;
  padding: 0.75rem 0rem;
  width: 100%;
  border-radius: 12px;
  outline: none;
  font-size: 17px;
  color: #f1ecf7;
}

#chat-login>button:hover {
  background: #8655fa;
}

h4,
h5 {
  margin: 10px 0;
}

.con-users>h4 {
  color: #8af3ff;

  font-size: 20px;
  font-weight: 200;
}

h5 {
  color: #ffffff;
  font-size: 14.5px;
  font-size: 20px;
  font-weight: 300;
}

hr {
  border: 0.25px solid #f1ecf7;
}

.row {
  display: flex;
  height: 100%;
  width: 100%;
}

.column {
  height: 100%;
  min-height: 100%;
}

.left {
  min-width: 260px;
  max-width: 500px;
  width: 25%;
  /* background-image: linear-gradient(to bottom, #6E58D6, #6E58D6); */
  background-color: #535353;
  border-right: 2px solid #000000;
  float: left;
}

.branding {
  background-image: linear-gradient(to bottom right, #9c6aee, #0d36a9);
  margin: 0;
  padding: 20px;
  height: 80px;
}

.branding>h1 {
  color: #f4f4f4;
  font-size: 32px;
  font-weight: 200;
  margin: 0;
}

.con-users {
  /* background-color: #1b1b1b; */
  border-bottom: 0.5px solid #656565;
  padding: 5px 20px;
}

.right {
  flex-grow: 1;
  position: relative;
  background-color: #f5f5f5;
  min-height: 100%;
  float: right;
  overflow: auto;
}

.messages_header {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
  height: 80px;
  border-bottom: 1px solid #e0dddd;
}

.messages_header>h1 {
  position: relative;
  color: #666666;
  font-size: 32px;
  font-weight: 200;
  margin: 0;
  float: left;
}

.messages_header>.icons {
  display: absolute;
  margin: 0;
  float: right;
}

.header_icon {
  display: inline-block;
  font-size: 23px;
  padding-top: 12px;
  font-weight: 300;
  margin: -3px 0 0 5px;
  width: 47px;
  height: 47px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #9c6aee, #8548e7);
}

.header_icon:hover {
  background-image: linear-gradient(to bottom right, #6a2ad2, #8548e7);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#form {
  background: #f1efef;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 4rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-top: 1px solid #e0dddd;
}

#input {
  border: none;
  padding: 0.5rem 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
  font-size: 18px;
  width: 100%;
  border-top: 1px solid #e0dddd;
  border-right: 1px solid #e0dddd;
  height: 2.9rem;
}

#input:focus {
  outline: none;
}

#form i {
  position: absolute;
}

.icon {
  padding: 12px;
  width: 50px;
  font-size: 30px;
  right: 95px;
  color: #a4a4a4;
}

.icon:hover {
  color: #757575;
}

#message_input {
  width: 100%;
  margin: -2px 0 0 0;
  padding-right: 0.5rem;
}

#form>button {
  background: #00b01b;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 7px;
  outline: none;
  font-size: 17px;
  color: #fff;
}

#form>button:hover {
  background: #04bf20;
}

#users {
  list-style-type: none;
  margin: 0;
  padding: 1px 0;
}

.chat_user {
  background: none;
  padding: 5px 20px;
}

.chat_user:hover {
  background: #6c6c6c;
}

.selected {
  background: #5f5f5f;
}

.msg_status {
  margin-top: 11px;
  height: 23px;
  width: 23px;
  background-color: #00b01b;
  border-radius: 50%;
  padding-bottom: 2px;
  float: right;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  display: none;
  align-items: center;
  justify-content: center;
}

.messages {
  display: block;
  list-style-type: none;
  padding: 0;
  /* margin-top: 80px; */
  padding: 20px;
}

.message_row {
  width: 100%;
}

.message_row:after {
  content: "";
  display: table;
  clear: both;
}

.sent_message>p {
  margin: 5px;
  padding: 0.75rem 1.2rem;
  border-radius: 10px;
  background-color: #a1ff59;
  border-color: #666666;
  border-width: 1px;
}

.received_message>p {
  margin: 5px;
  padding: 0.75rem 1.2rem;
  border-radius: 10px;
  background-color: #ffffff;
}

.outgoing_message {
  display: block;
  max-width: 65%;
  margin: 0;
  float: right;
  clear: right;
}

/* .sent_message {
    max-width: 65%;
  } */

.incoming_message {
  display: block;
  max-width: 65%;
  margin: 0;
  float: left;
  clear: left;
}

/* .received_message {
    max-width: 65%;
  } */

.message_info {
  font-size: 13px;
  margin: 5px 10px 10px;
}

/* attach image  */
#attach {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e0dddd;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1), 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#upload {
  text-align: center;
  margin: 80px 100px;
}

/* Video Layout */
.video_main {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: #151d29;
  z-index: 100;
  text-align: center;
  min-height: 0;
}

.videos_group {
  display: flex;
  /* top: 80px; */
  flex-grow: 1;
  /* height: 87%; */
  height: 100vh;
  justify-content: center;
  align-items: stretch;
  min-height: 0;
}

#video_grid {
  display: grid;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
  align-items: stretch;
  min-height: 0;
}

@media (min-width: 600px) {
  #video_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

video {
  width: 100%;
  min-height: 0;
  margin: 15px;
}

.video_small {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 225px;
  border: 1.25px solid #FFFFFF90;
  z-index: 1000;
}

.video_large {
  position: fixed;
  margin: 0;
  top: 0px;
  right: 0px;
  object-fit: cover;
}




.options {
  position: relative;
  bottom: 80px;
  max-width: 500px;
  height: 60px;
  margin: auto;
  display: flex;
  z-index: 200;
  align-items: center;
  justify-content: center;
}

.options__main {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  background-color: #ffffff20;
  border-radius: 40px;
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__end {
  margin-left: 15px;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #00b01b; */
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

.options__button:hover {
  font-size: 1.4rem;
  color: #ff0000;
}

.options__red {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff000080;
  height: 60px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 1.2rem;
  width: 60px;
  margin: 0 0.5rem;
}

.options__red:hover {
  background-color: #ff0000;
  font-size: 1.4rem;
}